:root {
	--main-bg-color: #5937e2;
	--title-color: #2b128d;
	--subtitle-color: #87839b;
}

.home-view {
	height: 80vh;
}

.title {
	font-size: 80px;
	line-height: 85px;
	font-weight: bold;
	color: var(--title-color);
	margin-bottom: 40px;
}

.subtitle {
	color: var(--subtitle-color);
	font-size: 20px;
	margin-bottom: 40px;
}

.shop-button {
	border-radius: 10em;
	padding: 20px 50px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	border-color: rgb(137, 31, 194) !important;
	background: rgb(137, 31, 194);
	background: linear-gradient(
		90deg,
		rgba(137, 31, 194, 1) 0%,
		rgba(151, 58, 201, 1) 57%,
		rgba(196, 121, 237, 1) 100%
	);
}

.shop-button:hover {
	background: rgb(71, 10, 105);
	/*background: linear-gradient(270deg, rgba(71, 10, 105, 1) 0%, rgba(98, 15, 143, 1) 57%, rgba(118, 25, 168, 1) 100%);-*/
	transition-duration: 2s;
}
